
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
.topnav {
    overflow: hidden;
    background-color: rgb(40,116,240);
    margin: -22px -8px 42px;
    padding: 32px
  }
  .MyAccount {
    float: left;
    color:white ;
    white-space: nowrap;
    padding: -1px 88px 16px 16px;
    margin: -102px -16px 32px 1354px;
    text-decoration: none;
    font-size: 20px;     
  }
  .container{
    font-size: 20px;
    padding: 18px 71px 29px 21px;
    margin: 30px -7px 48px 59px;
    font-family: Roboto,Arial,sans-serif

  }
.cartImage{
  margin-left: 395px;
}
.msg{
    padding: 20px;
    margin: 20px;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-size: 18px
}
.p1{
    text-align: center;
    margin-left: -228px;
    margin-top: -14px;
    letter-spacing: 0;
    font-size: 18px;
    font-family: Roboto,Arial,sans-serif
}
.p2{
    text-align: center;
    margin-left: -228px;
    margin-top: -14px;
    letter-spacing: 0; 
    font-size: 12px;
    font-family: Roboto,Arial,sans-serif
}
.button{
    margin: 13px 13px 13px 336px;
    padding:6px 100px 8px 100px;
   background-color: rgb(40,116,240);
   color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    border: none;
}
.search-container{
    width: 318px;
    padding: 5px;
    margin: -15px;
    margin-left: 326px
  }
  .search-button{
    width: 98px;
    height: 30px;
    margin-left: 17px;
  }
  .dropbtn {
    background-color: rgb(40,116,240);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin-left: 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown:hover .dropbtn {
    background-color: white;
  } */

  .card{
    padding: 3px 29px -3px;
    background: #fff;
    margin: 86px
  }