
<div class="topnav">
    <input class="search-container" type="text" placeholder="Search for products,brand and more" name="search" style="width: 300px;">
    <button class="search-button" type="Search">Search</button>
    <div class="dropdown">
        <button class="dropbtn">My Account</button>
        <div class="dropdown-content">
        <a href="#">My Profile</a>
        <a href="#">Orders</a>
        <a href="#">Wishlist</a>
        <a href="#">Notifications</a>
        <a href="#">logOut</a>

        </div>
      </div>

</div>
<div class="card">
<div class="container">
    <p Style=color:black>My Cart</p>   
    <a >
        <img  class="cartImage" src="assets/img/cartEmpty.png" height="200" width="200" align="middle">
        <div class="msg">
            <p class="p1">Your cart is empty!</p><br>
            <p class="p2">Add items to it now.</p>
            <button class="button">Shop Now</button>
        </div>
      </a>    
</div>
</div>


  
