<div class="topnav">
    <input class="search-container" type="text" placeholder="Search for products,brand and more" name="search" style="width: 300px;">
    <button class="search-button" type="Search">Search</button>
</div>
<!-- <div class="dropdown">
    <button class="dropbtn">My Account</button>
    <div class="dropdown-content">
    <a href="#">My Profile</a>
    <a href="#">Orders</a>
    <a href="#">Wishlist</a>
    <a href="#">Notifications</a>
    <a href="#">logOut</a>
    </div>
  </div> -->
  <div class="card2">
    <span class="span">PRICE DETAILS</span><hr class="line">
    <p class="card2P1" style="color: black">Price(1 item)</p>
    <p class="card2P2" style="color: black">₹329</p>


    
    </div>
<div class="card1">
  <p class="p1">My Cart</p>
  <a >
      <img  class="deliveredImage" src="assets/img/download.svg" height="20" width="20" align="middle">
</a>  
<p class="p2" style="color: rgb(180, 181, 214)">Deliver to</p>
<div class="Deliverto">
<select >
  <option value="Navi Mumbai - 400705">Navi Mumbai - 400705</option>
  <option value="Pune">Pune - 400111</option>
  <option value="Nashik">Nashik - 400222</option>
  <option value="Banglor">Banglor - 400705</option>
</select>
</div>
<a>
<img  class="image2" src="assets/img/gps.jpeg" height="111" width="100">
</a>
<p class="p3" style="color: black">AirCase Pouch for 2.5-Inch Hard Drive, GPS -Premium Edition, Rugged for Western Digital</p>
<p class="p4" style="color: rgb(180, 181, 214)">Blue, Shock Proof</p>
<p class="p5" style="color: black">₹296 ₹899 67% Off</p>
<p class="p6" style="color: red">Currently out of stock for 400705</p>
<button class="button minus">-</button>
<button class="button plus">+</button>
<div class="PlaceOrderCard">
<button class="PlaceOrder">Place Order</button>
</div>
<div class="input">
  <input type="text" class="input1">
</div>
</div>
