<div class="topnav">
    <a class="active" href="#menu">Menu</a>
  </div>
  <div class=cart>
      <a style="color:white;" href="#Cart">Cart</a>
  </div>
    <div class="search-container">
          <input type="text" placeholder="Search for products,brand and more" name="search" style="width: 300px;">
    </div>
    <div class="search-button">
      <button type="Search">Search</button>
    </div>
      <div class="navbar-brand">
          <a class="navbar-item">
            <img src="assets/img/boult-audio-boult.jpeg" height="150" width="150" align="middle" hspace="20">
            <img src="assets/img/b239b612b7392c1c.jpg" height="150" width="150" align="middle" hspace="20">
            <img src="assets/img/v8-smart-watch-roboster.jpeg" height="125" width="125" align="middle"  hspace="20">
          </a>
        </div>
        <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/img/sameer-gati-24.jpeg" height="150" width="150" align="middle" hspace="20">
            <img src="assets/img/mrj1342-7-aadi-red.jpeg" height="150" width="150" align="middle" hspace="20">
            <img src="assets/img/flipkart-smartbuy.jpeg" height="125" width="125" align="middle"  hspace="20">
          </a>
        </div>